# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/.sentryclirc
/lib/l10n/app_localizations.dart
/lib/l10n/app_localizations_de.dart
/lib/l10n/app_localizations_en.dart
/lib/l10n/app_localizations_fr.dart
/web/icons/aws.png
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/desiredFileName.txt
/.gradle/6.1.1/executionHistory/executionHistory.lock
/.gradle/6.1.1/fileHashes/fileHashes.lock
/.gradle/6.1.1/gc.properties
/.gradle/vcs-1/gc.properties
/l10n.yaml
/.gradle/6.1.1/fileChanges/last-build.bin
/local.properties
/android/app/src/profile/gen/nemesys/fr/flutter_gismo/Manifest.java
/android/build/reports/problems/problems-report.html
/android/app/src/profile/gen/nemesys/fr/flutter_gismo/R.java
